  <form class="seecomment">
  <hr>
    <h5><%=link_to comment.user.name, user_path(comment.user) %></h5>
    <p style="font-size:x-small"><%= comment.updated_at.strftime('%B %d, %Y at %H:%M %Z') %></p>
    <br>
    <%= comment.content %>
  </form>