<% @videos.each do |video| %>
<div class="card" style="width: 18rem;">
  <div class="card-top">
    <a href="/videos/<%= video.id %>"><img class = "thumbnail" src="<%= video.thumbnail_url %>" width="100%" height="100%"></a>
  </div>
  <div class="card-body">
    <p class="card-text"><%= video.title %></p>
    <!-- <a href="#" class="btn btn-primary">Play</a> -->
  </div>
</div>
<% end %>
