/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
   margin: auto;
   width: 90%;
 }

.card-body{
   padding: 10px;
   max-height: 70px;
 }

.card-text{
   font-size: 8pt;
 }

.btn{
   width: 100%;
     letter-spacing: 10px;
 }

/* .card{
  display: flex;
  float: left;
  max-height: 300px;
} */

.card{
  width: 19%;
  margin:0.5%;
  display:flex;
  float: left;

  border-radius: 20px;
  transition: 1s;
}
.card:hover{
  transform: scale(1.03);
}

iframe{
  height: 80vh;
}

img{
  border-radius: 20px;
}



/*Responsive*/


@media only screen and (max-width: 1500px) {
  .card{
    width: 24%;
    margin:.5%;

  }
}


@media only screen and (max-width: 1000px) {
  .card{
    width: 48%;
    margin:1%;

  }
}

@media only screen and (max-width: 780px) {
  .card{
    width: 100%;
    margin:0%;

  }
}



/* page transition*/

.slideToLeft{
  animation: transitionLeft 2000ms;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

@keyframes transitionLeft {
  from {
    opacity: 0;
    transform: translateX(2000px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
