<br><br>
<div class="indexpage">
  <h4>Playlist Index</h4>
  <div class="stickyrighttop"><%= button_to "+ New Playlist", new_playlist_path, class:"searchbutton", method: :get %></div>
  <% @playlists.each do |playlist| %>
        <div class="card-index firstone">
            <a href="/playlists/<%= playlist.id %>">
              <div>
                <img class = "thumbnail" src="<%= playlist.videos.first.thumbnail_url %>" width="100%" height="100%">
                <p class="card-text"><%= playlist.name %></p>
              </div>
            </a>
        </div>
  <% end %>
</div>
